# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Dataset
KidneyCT/

# Model files
models/
checkpoints/

# Results
results/

# TensorFlow
*.keras
*.h5

# Logs
*.log

# Operating System
Thumbs.db
.DS_Store